# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
.env

# Database
db.sqlite3

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/
.env

# macOS system files
.DS_Store

# IDE files
.vscode/
*.pyc

# Log files
*.log

# Secret key
*.key
